html, body {
    margin:0;
    padding:0;
    height:100%;
    min-height:100%;
    font-size:16px;
    color:#222222;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button {
    cursor:pointer;
}